<html lang="en">
<%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
            <div class="details container">
                <div class="content">
                    <% console.log('post'); console.log(post); console.log('post'); var date=post.updatedAt; var
                        dd=String(date.getDate()).padStart(2, '0' ); var mm=String(date.getMonth() + 1).padStart(2, '0'
                        ); var yyyy=date.getFullYear(); date=mm + '/' + dd + '/' + yyyy; %>
                        <table style="width:80%">
                            <form action="/posts/edit-post?post_id=<%= post._id %>" method="POST">
                                <tr>
                                    <th>
                                        <h3>
                                            <%= post.snippet%> || <%= date%>
                                        </h3>
                                    </th>
                                </tr>
                                <tr>
                                    <td>
                                        <h4>
                                            <%= post.body%>
                                        </h4>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <% if (answers.length> 0){ answers.forEach(answer=>{ %>
                                            <p>
                                                <%= answer.text %>
                                            </p>
                                            <hr>
                                            <%})} %>
                                    </td>
                                </tr>
                                <%if(postid){ %> <button class="editPost">Edit</button>
                                    <%}%>
                            </form>
                            <tr>
                                <form action="/posts/comment/<%= post._id %>" method="POST">
                                    <td><textarea name="text" id="text" cols="100" rows="10"></textarea>
                                        <button class="comment" data-doc="<%=post._id%>">comment</button>
                                    </td>
                                </form>
                            </tr>
                        </table>
                </div>
                <%if(postid){ %>
                    <a class="delete" data-doc="<%=post._id%>">Delete</a>
                    <%}%>
            </div>
            <%- include('./partials/footer.ejs') %>
                <script>
                    const del = document.querySelector('a.delete');
                    del.addEventListener('click', (e) => {
                        console.log(del.dataset.doc);
                        const endpoint = `/posts/${del.dataset.doc}`;
                        fetch(endpoint, {
                            method: 'DELETE'
                        })
                            .then((response) => response.json())
                            .then((data) => window.location.href = data.redirect)
                            .catch(err => console.log(err));
                    })
                </script>
    </body>
</html>