
<html lang="en">
    <%- include('./partials/head.ejs')   %>
<body>

    <%- include('./partials/nav.ejs')   %>
<div class="posts container">
<h1>All Messages</h1>

    <% 
    
    if (posts.length > 0){  posts.forEach(post=>{ %>
        <% var date =post.post.updatedAt;    
        var dd = String(date.getDate()).padStart(2, '0');
       var mm = String(date.getMonth() + 1).padStart(2, '0'); //January is 0!
       var yyyy = date.getFullYear();
       date = mm + '/' + dd + '/' + yyyy;
       %>
    <a class="single" href="/posts/<%=post.post._id %>" >

        <table style="width:100%">
            <tr>
              <th><h3 ><%= post.post.snippet%> || <%= date%></h3></th>
             
              
            </tr>
            <tr>
              <td><p><%= post.post.body%></p></td>
              
            </tr>
            <!-- <tr>
              <td><p><%= post.comments%></p></td>
              
            </tr> -->
          </table>
</a>

<%
}) }%>



</div>
<%- include('./partials/footer.ejs')   %>
</body>
</html>